/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

$root-size: 16;

body {
  @apply bg-white text-gray-dark font-gilroy;
}

:root {
  --root-size: $root-size;
  --lightborder: #edf0f5;
  --gray: #8c98b7;
  --gray-dark: #606675;
  --blue-dark: #011a6c;
  --blue-light: #3f89dc;
  --gray-text: #424242;
  --gray-medium: #c1c9db;
  --green: #48d480;
  --red: #e15959;
  --white: #fefefe;
}
